<h1>Users/index</h1>

<%= render 'users/list2',user: current_user %>

<%= render 'books/list', book: @books %>

<h1>All users</h1>

<% @users.each do |user| %>
　<%= image_tag user.get_profile_image(100, 100) %>
  <%= user.name %>
  <%= user.introduction %>

<% end %>

