
<%= render 'list2',user: @user %>

<%= render 'books/list', book: @book %>

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <%= image_tag book.user.get_profile_image(100,100) %>
    <%= book.title %>
  <% end %>
  <%= book.body %>
  <%= book.user.name %>
</div>
<% end %>