<h1>Books#index</h1>

<%= render 'users/list2',user: current_user %>

<%= render 'list', book: @book %>

<% @books.each do |book| %>
<div>
  <table class="table table-striped">
　  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
    <%= book.user.name %>
    <%= link_to book_path(book.id) do %>
      <%= book.title %>
    <% end %>
    <%= book.body %>
  </table>  

</div>
<% end %>
