<h1>Books/show</h1>

  <%= render 'users/list2',user: @user %>

　<%= render 'list', book: @books %>
<div>
  <%= link_to user_path(@user) do %>
    <%= @user.name %>
  <% end %>

  <%= link_to book_path(@book) do %>
    <%= @book.title %>
  <% end %>
  <%= @book.body %>

  <% if @book.user == current_user %>
   <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>


</div>

