<h1>Books/show</h1>

  <%= render 'users/list2',user: @user %>
<div>
  <%= @book.title %>
  <%= @book.body %>


  <%= render 'list', book: @books %>

  <% if @book.user == current_user %>
   <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>


</div>

